<!DOCTYPE html>
<html>

<head>
  <title>About</title>
</head>

<body>

  <h1>About</h1>
  <h2>Dr. Biswajeet Naidu</h2>
  <p>Dr Naidu is a leading spine surgeon from Mumbai with over 30 years of work experience</p><br><br>
  Contact:<br>  
  Mobile: +91 9820072744 <br>
  Suchi-Roy Clinic, #204<br>
  Center Point<br>
  18<sup>th</sup> Road <br>
  Chembur<br>
  Mumbai-400071
</body>
</html> 

<%= link_to 'Home Page', root_path%>