<!DOCTYPE html>
<html>

<head>
  <title>About</title>
</head>

<body>

  <h1>About</h1>
  <h2>Nikita Nadkarni</h2>
  <p>An architect by profession, a baker by passion. If there’s anything that gives me pure, unadulterated joy, it’s the smell of freshly baked cookies. And if i happen to spread that joy in your life with the account of the bake, I’ll be the happiest!

Sharing is not just caring. It’s the way to true happiness in life. Cheers ;)</p>

</body>
</html> 

<%= link_to 'Home Page', root_path%>