<!DOCTYPE html>
<html>

<head>
  <title>About</title>
</head>

<body>

  <h1 align="center">About</h1>
  <div class="well col-xs-8 col-xs-offset-2">
    <div class= "username">
    <h2>Dr. Biswajeet Naidu</h2>
    <div class="testimonial-actions">
      Dr Naidu is a leading spine surgeon from Mumbai with over 30 years of work experience.
    </div>
    <div class="testimonial-actions">
      Contact:<br>  
      Mobile: +91 9820072744 <br>
      Suchi-Roy Clinic, #204<br>
      Center Point<br>
      18<sup>th</sup> Road <br>
      Chembur<br>
      Mumbai-400071
  </div>
  </div>
  </div>
  
</body>
</html>