<!DOCTYPE html>
<html>

<head>
  <title>About</title>
</head>

<body>

  <h1>About</h1>
  <h2>Dr. Biswajeet Naidu</h2>
  <p>Dr Naidu is a leading spine surgeon from Mumbai with over 30 years of work experience</p>

</body>
</html> 

<%= link_to 'Home Page', root_path%>