
<div class=" center jumbotron">

  <h1 style="font-family:verdana;">DawaKhana</h1>
  <h3>Better Care and Better Understanding</h3>
  <br><br><br>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><font color="white">Sign up</font></a></p>
</div>

