<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body style="background-color:offwhite; text-align:center;">

  <h1 style="font-family:verdana; font-size:200%;">Dr. Naidu's Orthopaedic Center</h1>
  <h2>Better Care and Better Understanding</h2>
  <%= link_to 'About', about_path%>
  <h3>Spine Injuries and Disorders</h3>
  <p style="color:grey; font-family:courier; font-size:80%;">Your backbone, or spine, is made up of 26 bone discs called vertebrae. The vertebrae protect your spinal cord and allow you to stand and bend. A number of problems can change the structure of the spine or damage the vertebrae and surrounding tissue. They include

Infections
Injuries
Tumors
Conditions, such as ankylosing spondylitis and scoliosis
Bone changes that come with age, such as spinal stenosis and herniated disks
Spinal diseases often cause pain when bone changes put pressure on the spinal cord or nerves. They can also limit movement. Treatments differ by disease, but sometimes they include back braces and surgery.</p>

</body>
</html>
