
<div class=" center jumbotron">

  <h1 style="font-family:verdana;">Dr. Naidu's Clinic</h1>
  <h3>Better Care and Better Understanding</h3>
  <%= link_to 'About', about_path%> |
  <%= link_to 'Testimonials', testimonials_path%><br><br>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><font color="white">Sign up</font></a></p>
</div>

