<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body style="background-color:lightblue; text-align:center;">

  <h1 style="font-family:verdana; font-size:200%;">A Friend in Knead</h1>
  <h2>For the love of the oven</h2>
  <%= link_to 'About', about_path%>
  <h3>Nutella & Seasalt Cookies..anyone?</h3>
  <p style="color:grey; font-family:courier; font-size:80%;">Hello!!

Birthdays are incomplete without a gift.
And this time is was the best friend’s husband’s birthday. It had to be a put-effort-into-gifting birthday. No complaints…no excuses.

But we all know that one person who is absolutely the most difficult person to gift. For starters, he’s a guy.. 80% of my gifting ideas die there. Women are pretty easy to gift with all the non-personal objects that exist which easily appeal to a woman. They sometimes do pass off as personalised. (Eep..terrible secrets coming out here)
Then the fact that he’s well stocked on the best of a wardrobe, is a gadget geek (out of bound budgets on this one), is into gaming of which i have zero knowledge and does not do sports..though in that there isn’t much to gift. He’s got the watches, shoes, belts, wallets…all that fill the options of my regular boy-gifting checklist.

And that is when i became my own Friend in Knead! Is there anything more personalised than knowing someone LOVESSS food and gifting them just that? That too freshly out of the oven. Ting!

After the wedding they were in LA for six months and I visited the two cartoons in July this year. This one evening while we walked down the Santa Monica boulevard, the dude vanished into a shop and exited with a bag of the most delectable cookies ever. Nutella and Sea-salt cookies. FTW.
</p>

</body>
</html>
